<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The programmer's diary</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<header class="header">
    <img src="../static/img/logo.svg" alt="logo" width="30" height="30">
</header>

<main class="main-login">
    <form action="{{ url_for('login') }}" method="POST" class="login">
        <p class="error">{{ error }}</p>

        <!-- Tarea #2. Campos de inicio de sesión -->
        <label for="email">
            <input class="form_input" type="email" name="email" id="email"
                    placeholder="Enter your e-mail" required>
        </label>

        <label for="password">
            <input class="form_input" type="password" name="password" id="password"
                    placeholder="Ingresa tu contraseña" required>
        </label>

        <button class="form__button">Login</button>
        <a href="/reg" class="form__button reg__link">Register</a>
    </form>
</main>
</body>
</html>
